//***Scss variables***//

//Colors
$color-primary: #00c853;
$color-primary-light:#33d375;
$color-primary-dark:#008c3a;
$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;
$color-grey-light-1:#f7f7f7;

//FONT
$default-font-size:1.6rem;

//GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;