
 .header {
    height: 95vh;
    /* similar to 95 % */
    background-image: linear-gradient( to right bottom, rgba($color-primary-light, .5), rgba($color-primary-dark, .8)), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {// & -> .header so it becomes .header__logo-box
       position: absolute;
       top: 4rem;/*4rem = 40px since we specified 1rem=10px in root*/
       left: 4rem;
   }
   &__logo {
       height: 35px;
   }
   
   &__text-box {
       position: absolute;
       top: 40%;
       left: 50%;
       transform: translate(-50%, -50%);
       text-align: center;
   }
}