*,
*::after,
*::before {
    /* Changing predefined css property of whole page*/
    margin: 0;
    padding: 0;
    box-sizing: inherit;/* To inherit properties of box-sizing */
}
html{/* we want here 10px so when we do by % it wil be 10/16(default font size * 100 =62.5%)*/
    font-size: 62.5%;/* we change root font-size to 10px so that 1rem=10px */

    
    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }

}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}
::selection {
    background-color: $color-primary;
    color: $color-white;
}